Research fetch html issue with 406 http response code


Debug line printed as result of calling fetch_html:

Response not ok http://daringfireball.net/linked/2016/10/31/intel-mbp-ram
406 Not Acceptable.

This also occurred in line 345 in favicon.js.

This messages shows up in the console when visiting the page:

A Parser-blocking, cross-origin script,
http://connect.decknetwork.net/deckDF_js.php?1477969301611, is invoked via document.write. This may be blocked by the browser if the device has poor network connectivity. See https://www.chromestatus.com/feature/5718547946799104
for more details. (anonymous) @ intel-mbp-ram:112

The site is using a file name mint.js, and mint.js has some funky document.write stuff.
This is on Chrome 55, which I believe just mentioned something about this happening.
I am on broadband.

Ok, I tested `fetchHTML('http://daringfireball.net/linked/2016/10/31/intel-mbp-ram')` again, got the same 406 error. If I copy and paste it into Chrome right now, I get a working web page. Notably the url automatically became https.

## About 406

Copied from https://httpstatuses.com/406. The target resource does not have a current representation that would be acceptable to the user agent, according to the proactive negotiation header fields received in the request1, and the server is unwilling to supply a default representation. The server SHOULD generate a payload containing a list of available representation characteristics and corresponding resource identifiers from which the user or user agent can choose the one most appropriate. A user agent MAY automatically select the most appropriate choice from that list. However, this specification does not define any standard for such automatic selection, as described in RFC7231 Section 6.4.1.

## Headers

I should compare the request and response headers being sent and received in each case.

Chrome request headers:
Accept:text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8
Accept-Encoding:gzip, deflate, br
Accept-Language:en-US,en;q=0.9
Cache-Control:max-age=0
Connection:keep-alive
Cookie: stuff
DNT:1
Host:daringfireball.net
Upgrade-Insecure-Requests:1


Chrome response headers:
HTTP/1.1 200 OK
Date: Fri, 01 Dec 2017 02:03:49 GMT
Server: Apache
Content-Location: intel-mbp-ram.php
Vary: negotiate,Accept-Encoding
TCN: choice
Content-Encoding: gzip
Content-Length: 3610
Connection: close
Content-Type: text/html; charset=UTF-8

fetchHTML request headers:
GET /linked/2016/10/31/intel-mbp-ram HTTP/1.1
Host: daringfireball.net
Connection: keep-alive
Accept: text/html
User-Agent: ...
DNT: 1
Accept-Encoding: gzip, deflate, br
Accept-Language: en-US,en;q=0.9

fetchHTML response headers:

HTTP/1.1 406 Not Acceptable
Date: Fri, 01 Dec 2017 01:58:18 GMT
Server: Apache
Alternates: {"intel-mbp-ram.php" 1 {type application/x-httpd-php}}
Vary: negotiate,Accept-Encoding
TCN: list
Content-Encoding: gzip
Content-Length: 293
Connection: close
Content-Type: text/html; charset=iso-8859-1





Done